<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @buy.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @buy.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @buy.state %>
</p>

<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>
